@import '../../styles/variables';

.c-form {
  max-width: 440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  &__wrapper {
    max-width: 380px;
    width: 100%;
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid $c-border;
    background-color: $c-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
    max-width: 48px;
    width: 100%;
    padding: 16px;
    background-color: $c-background-blue;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
}
.c-search {
  &__input::placeholder {
    color: $c-placeholder;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: italic;
  }
  &__input:focus {
    outline: none;
  }
  &__input {
    border: none;
    color: $c-text-primary;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
  &__divider {
    height: 32px;
    width: 1px;
    background-color: $c-background-primary;
  }
}

.c-select-search {
  max-width: 142px;
  // width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $c-text-primary;
  border: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 37.6%;
  height: 100%;
  background: transparent;
  appearance: none;
  background-image: url('../../icons/chevron.svg');
  background-repeat: no-repeat;
  background-position: right;
  display: block;
  cursor: pointer;
  &::placeholder {
    padding-left: 15px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #979797;
  }
  &__option {
    max-width: 152px;
    width: 37.6%;
    // height: 100%;
  }
}
.c-select-search:focus {
  outline: none;
}
