// COLORS
$c-background-primary: #e5e5e5;
$c-white: #ffffff;
$c-border: #f1f1f1;
$c-background-blue: #3a80ba;
$c-placeholder: #979797;
$c-text-primary: #1a1a1a;
$c-background-dark-blue: #1c3b55;

//FONTS

$f-base: 'Montserrat';

// Transition
$t-transition: all ease-in 0.2s;
