@import '../../styles/variables';
.c-main {
  min-height: 750px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  &__wrapper {
    max-width: 1440px;
    height: calc(100vh - 129px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  &__container {
    width: 100vw;
    padding-left: 26px;
    padding-right: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__container-wrapper {
    max-width: 1180px;
    overflow-x: clip;
  }
}
